body {
  margin: 0 auto;
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #6190e8, #a7bfe8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #6190e8, #a7bfe8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0 10% 2% 10%;
  text-align: center;
  font-family: Raleway;
}

a {
  color: #6190e8;
}

.content {
  margin: 3% auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
}

#intro {
  margin-top: 0;
}

#icons {
  margin-top: 10px;
  font-size: 30px;
}

#strike {
  text-decoration: line-through;
}

#aboutText {
  text-align: left;
}
