@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@keyframes fadeIn {from {opacity: 0;} to {opacity: 1;}}

:root {
  --fade: fadeIn ease-in 500ms;
}


body {
  min-height: calc(100vh - 3.25rem);
}

#hero {
  background: linear-gradient(170deg, rgb(75, 50, 150) 78vh, black 80vh);
  padding-left: 5%;
  animation: var(--fade);
}

#App {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

#main {
  max-width: 85vw;
  border-radius: 10px;
  animation: var(--fade);
}

nav {
  padding: 0 1.5vw;
}

.card {
  border-radius: 5px;
}
.card img {
  padding: 10px;
}

#profile {
  width: 50%;
  max-width: 300px;
}

p {
  text-align: left;
  font-size: 2rem;
}

a {
  font-weight: 600;
  font-size: 1.2em;
  font-family: Montserrat;
}

button {
  text-transform: capitalize;
}